body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

header a {
    height: 100%;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    width: 100%;
    margin-top: 9%;
    height: 80%;
    margin-left: 20%;
}

#contact_modal {
    display: none;
}

main {
    margin-top: 100px;
    margin-left: 10%;
}

main  h2 {
    color: #D3573C;
    font-size: 36px;
    margin-top: 18%;
}

main a{
    text-decoration: none;
}

#photographe p:nth-child(2) {
    color: #901C1C;
    font-size: 145%;
}

#photographe p:nth-child(3) {
    font-size: 131%;
}

#photographe {
    display: flex;
    background-color: #FAFAFA;
    height: 278px;
    gap: 19%;
    width: 100%;
    margin-left: -5%;

}

#photographe .img img {
    height: 100%;
    width: 100%;
}

#photographe .img {
    margin-top: 1%;
    margin-right: 2%;
    height: 93%;
    width: 70%;
    clip-path: ellipse(44% 40%);

}

#medias{
    width: 100%;
    margin-top: 4%;
    margin-left: -5%;
}

.titre{
    width: 90%;
    margin-left: 3%;
}

.titre .ville{
    color: #D3573C;
    font-size: 133%;
    font-weight: bold;
    margin-bottom: 5%;
}

.contact {
    font-size: 19px;
    font-weight: bold;
    color: white;
    width: 53%;
    height: 21%;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

.sorter-form {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

#medias #gallery {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 66px;
    column-gap: 9%;
    z-index: -1;
    width: 100%;
  }
  
  #medias .photo-card-wrapper {
    width: 350px;
    height: 350px;
  }
  
  #medias .photo-card-wrapper img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 5px;
  }
  
  #medias .photo-card-wrapper video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  #medias .photo-card-wrapper .text {
    display: flex;
  }
  
  #medias .photo-card-wrapper p {
    margin: 0;
    color: #901C1C;
    font-size: 20px;
  }

.sorter-form select{
    margin-left: 2%;
    margin-top: 0%;
    width: 9%;
    height: 2.5em;
    font-size: 100%;
    background-color: #901C1C;
    color: white;
    padding: 0;
    border: none;
    position: relative;
    cursor: pointer;
}

.sorter-form option {
    border-top: 1px white solid;
}

.likes{
    display: flex;
    margin-left: auto;
}

.likes button{
    color: #901C1C;
    border: none;
    background-color: white;
}

#likes-price{
    display: flex;
    width: 22%;
    margin-left: auto;
    background-color: #D3573C;
    margin-right: 4%;
    font-weight: bold;
    margin-top: 5%;
    /* position: fixed; */
}

#likes-price p:nth-child(1) {
    margin-left: 8%;
    width: 20%;
}

#likes-price p:nth-child(2) {
    margin-left: auto;
    margin-right: 8%;
}

#likes-price i {
    margin-left: 10%;
}

.lightbox-media{
    width: 43%;
    margin: auto;
}

 .lightbox-img{
    width: 100%;
 }

#lightbox{
    width: 50%;
    margin: auto;
    margin-top: 24%;
    display: none;
}

.arrow {
    width: 22px;
    height: 22px;
    border: solid #901C1C;
    border-width: 0 4px 4px 0;
    margin-top: inherit;
}

.right {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  
  .left {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }

