body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

header a {
    height: 100%;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    width: 100%;
    margin-top: 9%;
    height: 80%;
    margin-left: 20%;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 8%;
    text-align: center;
}



main  h2 {
    color: #D3573C;
    font-size: 175%;
    margin-bottom: 4%;
}

main img {
    height: 50%;
    width: 58%;
    clip-path: ellipse(49% 50%);
}

main a{
    text-decoration: none;
}

.photographer_card_wrapper p {
    margin: 1%;

}

.photographer_card_wrapper p:nth-child(2) {
    color: #901C1C;
}


.photographer_card_wrapper p:nth-child(4) {
    color: #525252;
}
